.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 272px;
    cursor: pointer;
}

.price {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.name {
    text-align: center;
}