.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 272px;
    width: 100%;
}

.price {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
